$font-1: 'Montserrat', sans-serif;
$font-2: 'Caveat', serif;
$sombre-BleuENI: #134A7F;
$clair-Blanc: #FEFEE2;
$clair-Bleu: #8BADDD;
$clair-Sable: #E2C687;
$clair-Vert: #ACEE77;
$clair-Lilas: #C5A5D4;
$sombre-Noir: #2c2928;
$sombre-Bleu: #090F18;
$sombre-Rose: #090305;
$sombre-Vert: #061A16;
$sombre-Violet: #1C0A16;
$breakpoints-mobile: 480px;
$breakpoints-tablet: 768px;
$breakpoints-laptop: 1024px;
